* {
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
    height: 500px;

}

.flex-item {
    width: 200px;
    height: 150px;

}

.bg-red {
    background-color: red;
    width: 20%;
}

.bg-black {
    background-color: black;
    width: 80%;
}